{
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": [2, {"properties": "always", "allow": ["type_of"]}],
    "eqeqeq": [2, "allow-null"],
    "strict": [2, "global"],
    "no-nested-ternary": [2],
    "no-underscore-dangle": 0,
    "one-var": [2, "never"],
    "consistent-this": [0, "self"],
    "prefer-const": ["error", {
      "destructuring": "all"
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
